.App {
  text-align: center;
  /* backgorcolor: grey; */
  /* background-color: rgb(206, 155, 155); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.input {
width: 15rem;
height: 1.3rem;
margin-bottom: 1.5rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.label1{
margin-right: 3rem;
}
.label2{
margin-right: 3.9rem;
}
.label3{
margin-right: 3.9rem;
}
.label4{
margin-right: 1.8rem;
}

.submit{
width: 5rem;
height: 1.3rem;
margin-left: 3.5rem;
}